*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.main--container{
    background-color: #201F1B;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #fff;
    margin-bottom: 20px;
}

.input--container{
    position: relative;
}

.inputCep{
    padding: 10px;
    outline: none;
    border: none;
}

.searchBtn{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
    border: none;
}

.result--container{
    background-color: #3F3C37;
    color: rgb(187, 187, 187);
    border-radius: 4px;
    margin-top: 40px;
    padding: 20px;
}

.result--container h2{
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}